.btn:link,
.btn:visited {
    text-decoration: none;
    margin-left: 1rem;
    color: var(--color-white);
    display: inline-block;
    padding: 1.6rem 5rem;
    border-radius: 100rem;
    text-transform: uppercase;
    margin-top: 2rem;
    transition: all .6s;
    box-shadow: var(--box-shadow2);
}

.btn-main {
    background-color: var(--color-main);
}

.btn-main:hover {
    background-color: var(--color-white);
    color: var(--color-main);
}

.btn-ghost {
    color: var(--color-main) !important;
    background-color: var(--color-white);
    border: 1px solid var(--color-main);
}

.btn-ghost:hover {
    background-color: var(--color-main);
    color: white !important;
}