.header {
    &__info-box {
        font-size: 2rem;
    }

    &__brand {
        color: var(--color-white);
        font-size: 4rem;
    }

    &__logo-container {
        border: 5px solid var(--color-white);
        height: 100px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heading4 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    &__paragraph {
        font-size: 1.8rem;
        margin-top: .4rem;
    }

    &__container {
        padding: 4rem;
    }

    &__social {
        display: flex;

        &-icons {
            margin-right: 1rem;
        }
    }
}